<!--
  Generated template for the ProductsListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{panelTitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>




  <ion-list  *ngIf='productsList && productsList.length'>

    <ion-item-sliding *ngFor='let product of productsList'>

      <ion-item >
        <ion-avatar item-start>
          <img
            [src]='product.imageUrl'
            [title]='product.productName'
            [style.width.px]='imageWidth'

          >
        </ion-avatar>
        <h2>{{product.productName}}</h2>
        <p>{{product.productCode}} $ {{product.price}} </p>
      </ion-item>

      <ion-item-options side="left">
        <button ion-button color="primary">
          <ion-icon name="text"></ion-icon>
          Text
        </button>
        <button ion-button color="secondary">
          <ion-icon name="call"></ion-icon>
          Call
        </button>

      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="mail"></ion-icon>
          Email
        </button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>






</ion-content>
